<%- include('./layouts/header') %>
    <div class="text-center justify-content-center text-dark text-opacity-75">
        <h1><span class="goback" onclick="window.history.back()">← Go back</span></h1>
    </div>

    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: 0.5rem">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white bg-info bg-gradient">
                            <!-- The image below is sample only, we will get the save image from database to display on this -->
                            <img src="<%= person.image? person.image : '' %>" />
                            <!-- The value of name will come from the database -->
                            <h5>Name:
                                <%= person.name %>
                            </h5>
                            <!-- The value of role will come from database -->
                            <p>Role:
                                <%= person.role %>
                            </p>
                            <!-- The value of student No. will come from database -->
                            <p>Student No.
                                <%= person.studnum? person.studnum : 'N/A'%>
                            </p>

                            <!-- Need to fix the modal, it is not currently working right now -->
                            <!-- Button to trigger modal -->
                            <div class="sticky-top"><i class="far fa-edit mb-5 text-success fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                            <!-- Modal -->
                            <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">HELLO WORLD!</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6><mark>Information</mark></h6>
                                <hr class="mt-0 mb-4" />
                                <div class="row pt-4">
                                    <div class="col-6 mb-4">
                                        <h6>Grade / Level</h6>
                                        <p class="text-muted">
                                            <%= person.grlvl? person.grlvl : 'N/A' %>
                                        </p>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <h6>Section</h6>
                                        <p class="text-muted">
                                            <%= person.section? person.section : 'N/A' %>
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Mobile No.</h6>
                                        <p class="text-muted">
                                            <%= person.mobile? person.mobile: 'N/A' %>
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a href="#">
                                            <h6>Password</h6>
                                        </a>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ToDo: Will continue it later -->

    <%- include('./layouts/footer') %>